@import url("fonts.css");

:root {
    --background: #eee;
    --darker-background: #ccc;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    font-family: "Kanit", sans-serif;
    font-size: larger;
}

body {
    margin: 0;
}

nav {
    margin: 0.75rem;
    padding: 0.5rem;
    background-color: #dddddd;
    border: 0.25rem solid #cccccccc;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0.75rem;
    box-shadow: 0 5px 5px darkgray;
    z-index: 1000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    font-size: small;
}

footer p {
    margin: 0;
}

footer p:nth-of-type(1) {
    margin-top: 0.4rem;
}

footer p:last-of-type {
    margin-bottom: 0.4rem;
}

a {
    position: relative;
    text-decoration: none;
    color: seagreen;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.15rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: currentColor;
    transition: width 250ms ease-in-out;
}

a:hover::before, a[active-link]::before {
    width: 100%;
}

a[external-link]::after {
    content: "";
    height: 0.55rem;
    aspect-ratio: 1;
    margin-left: 0.1rem;
    background-image: url("resources/icons/link.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

hr {
    width: 100%;
    margin: 0;
}

input[type="text"] {
    appearance: none;
    border: none;
    font-family: inherit;
    padding: 0.25rem;
    border: 0.15rem solid seagreen;
    border-radius: 0.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logo-container p {
    margin: 0;
}

.logo-link {
    font-size: 0;
}

.logo-link::before {
    content: "";
    height: 0;
}

.logo-image {
    width: 5rem;
}

.navigation-links-group {
    display: flex;
    gap: 0.75rem;
}

.dashed-hr {
    width: 100%;
    border-top: 1px dashed currentColor;
}

.footer-love {
    display: inline-block;
    width: 0.75rem;
    aspect-ratio: 1;
    background-image: url("resources/icons/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}